<!DOCTYPE html>
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug
    h1 404
    p 
      | Oops! current 
      strong "#{url}" 
      | is not found
    p 
      | we recommend you visiting 
      a(href="/") home page 
      | to find the information that you need
      